@page
@model SustainabilityProgramManagement.Pages.Programs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SustainabilityProgram[0].ProgramName) (@Html.DisplayNameFor(model => model.SustainabilityProgram[0].Abbreviation))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SustainabilityProgram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName) (@Html.DisplayFor(modelItem => item.Abbreviation))
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SustainabilityProgramId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SustainabilityProgramId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SustainabilityProgramId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
